# Ignore node_modules directory
node_modules/

# Ignore log files and build artifacts
*.log
build/

# Ignore environment-specific files
.env
.env.local

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore package-lock files for npm
package-lock.json

# Ignore compiled files for Sass and Less
*.css
*.scssc
*.lessc

# Ignore database files
*.sqlite
*.db

# Ignore macOS system files
.DS_Store

.dfx/
.mops/
canister_ids.json