[submodule "tools"]
	path = tools
	url = git@github.com:ic0-computer/tools.git
[submodule "frontend/connect2ic-fork"]
	path = frontend/connect2ic-fork
	url = git@github.com:ic0-computer/connect2ic-fork.git
